<div id="login-page">
  <h2>TODO LOLIMAC LOGO</h2>
  <form [formGroup]="loginForm">
    <mat-form-field appearance="outline">
      <mat-label>Pseudo</mat-label>
      <input matInput placeholder="CrousMan89" formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput placeholder="Blabla..." type="password" formControlName="password"
        (keyup.enter)="login(loginForm.value.username, loginForm.value.password)">
      <mat-error>erreur</mat-error>
      <mat-hint align="end">
        <a href="">
          Mot de passe oublié
        </a>
      </mat-hint>
    </mat-form-field>

    <button mat-raised-button color="accent"
      aria-label="Se connecter à lolimac"
      (click)="login(loginForm.value.username, loginForm.value.password)"
      [disabled]="!loginForm.valid">
      Se connecter
    </button>
  </form>

  <a id="subscribe" routerLink="/visiteur/inscription">Pas de compte ? Inscrivez-vous dès maintenant</a>
</div>
