
#invitation-page {
    align-content: stretch;
    grid-gap: 10px;

    form {
        display: inline-grid;
        align-content: center;

        button {
            margin-top: 40px;
            justify-self: end;
        }
    }

    a {
        text-align: center;
    }
}

@media screen and (max-width: 799px) {
    #invitation-page {
        min-height: calc(100vh - var(--height-topbar));
    }
}