<div id="invitation-page">
  <h2>Demande d'invitation sur le meilleur site au monde</h2>

  <form [formGroup]="invitationForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="CrousMan89" type="email" formControlName="email">
      <mat-error>T'as cru qu'on autorisait les fakes ici ?</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Secret" type="text" formControlName="name">
        <mat-error>La vie est courte, ton nom ne l'est pas</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Promotion</mat-label>
      <mat-select placeholder="Promotion">
        <mat-option value="2021">2021</mat-option>
        <mat-option value="2020">2020</mat-option>
        <mat-option value="2019">2019</mat-option>
        <mat-option value="2018">2018</mat-option>
        <mat-option value="2017">2017</mat-option>
        <mat-option value="2016">2016</mat-option>
        <mat-option value="autre">Autre</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Message de présentation</mat-label>
      <textarea matInput placeholder="Je met les pied ou je veux little-John..." formControlName="message"></textarea>
    </mat-form-field>

    <button mat-raised-button color="accent"
      aria-label="Se connecter à lolimac"
      [disabled]="!invitationForm.valid">
      Demander son invitation
    </button>
  </form>

  <a id="subscribe" routerLink="/visiteur/login">Changement d'avis ? Retour à la page login</a>
</div>