<div class="event-card">
  <div class="banner">
    <img alt="photo d'illustration de l'évènement" src="{{ event.photo_url }}"
      (click)="goTo('/evenements/detail/' + event.id_event)">
  </div>

  <div class="description">
    <div class="texte">
      <h2 (click)="goTo('/evenements/detail/' + event.id_event)">{{ event.title }}</h2>
    </div>

    <ng-container [ngSwitch]="event.participation">
      <button *ngSwitchCase="0" mat-button>Participer</button>
      <button *ngSwitchCase="1" mat-button (click)="goTo('/evenements/edition/' + event.id_event)">Modifier</button>
      <button *ngSwitchDefault mat-button>Participer</button>
    </ng-container>
  </div>
</div>