
.event-card {
    width: 100%;
    max-width: 600px;
    margin: var(--item-margin);
    border-radius: 10px;
    background-color: var(--color-primary-lighter);
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

    .banner {
        height: 150px;
        overflow: hidden;

        img {
            cursor: pointer;
            width: 100%;
        }
    }

    .description {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-around;

        .texte {
            h2 {
                cursor: pointer;

                &:hover {
                    color: var(--color-primary-darker);
                }
            }
        }
    }
}