
#profile-page {
    align-content: center;
    grid-gap: 25px;

    .profile {
        display: grid;
        text-align: center;
        grid-gap: 10px;

        .avatar {
            justify-self: center;
        }
    }

    .options {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 10px;
    }
}