<app-top-app-bar *ngIf="bMobile" [title]="'Profil'">
</app-top-app-bar>

<div id="profile-page" class="full-page">
  <div *ngIf="user$ | async as user; else loading" class="profile">
    <div class="avatar">
      <img src="{{ user.photo_url }}" alt="avatar">
    </div>
    <b>{{ user.firstname }} {{ user.lastname }}</b>
  </div>

  <ng-container *ngIf="events$ | async as events; else loading">
    <div>
      <h2>Mes évènements</h2>
      <ng-container *ngFor="let event of events">
          <app-event-card-small *ngIf="event.participation == 1" [event]="event"></app-event-card-small>
      </ng-container>
    </div>

    <div>
      <h2>Mes participations</h2>
      <ng-container *ngFor="let event of events">
        <app-event-card-small *ngIf="event.participation == 2" [event]="event"></app-event-card-small>
      </ng-container>
    </div>
  </ng-container>

  <div class="options">
    <h2>Options du profil</h2>
    <button mat-raised-button (click)="goTo('/profil/edition')">Modifier le profil</button>
    <button mat-raised-button (click)="logout()" color="warn">Se déconnecter</button>
  </div>
</div>

<ng-template #loading>
  <p>Chargement...</p>
</ng-template>