<app-top-app-bar *ngIf="bMobile" [title]="'Changement de mot de passe'" [bReturn]="true" (return)="goTo('/profil')">
</app-top-app-bar>

<div id="change-password-page">
  <form [formGroup]="userForm">
    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="pwd" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirmation du mot de passe</mat-label>
      <input matInput type="password" formControlName="confirm_pwd" required>
      <mat-error>Les mots de passe ne sont pas équivalents</mat-error>
    </mat-form-field>

    <button *ngIf="!bMobile" mat-raised-button (click)="goTo('/profil')">
      Annuler
    </button>

    <button mat-raised-button color="accent" (click)="submitForm()" [disabled]="!userForm.valid">
      Valider
    </button>
  </form>
</div>
