<app-top-app-bar *ngIf="bMobile" [title]="'Tableau de bord'">
</app-top-app-bar>

<div id="dashboard-page">
  <div *ngIf="events.length > 0" class="events-container">
    <ng-container *ngFor="let event of events; let i = index">
      <app-event-card [event]="event" *ngIf="i != (events.length - 1)"></app-event-card>
      <app-event-card [event]="event" *ngIf="i == (events.length - 1)" appDeferLoad (discovered)="increaseEventList()"></app-event-card>
    </ng-container>
  </div>

  <ng-container [ngSwitch]="currentState">
    <p *ngSwitchCase="dashBoardState.NoMore" class="center">Il n'y a pas d'autre évènement !</p>
    <p *ngSwitchCase="dashBoardState.Empty" class="center">Aucun évènement !</p>
    <p *ngSwitchCase="dashBoardState.Loading" class="center">Chargement des évènements...</p>
    <p *ngSwitchCase="dashBoardState.Error" class="center">Une erreur à eu lieu !</p>
  </ng-container>
</div>