
#dashboard-page {
    #scroll-container {
        height: calc(100vh - 58px);

        .event-container {
            padding: var(--padding-page);
            display: grid;
            justify-content: center;
        }
    }    
}
