
#dashboard-page {
    .events-container {
        padding: 5px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
}

@media screen and (max-width: 799px) {
    #dashboard-page {
        margin-bottom: var(--height-bottom-bar);
    }
}