<app-top-app-bar *ngIf="bMobile" [title]="'Tableau de bord'">
</app-top-app-bar>

<div id="dashboard-page">
  <div *ngIf="events.length > 0; else loadingOrEmpty" class="events-container">
    <app-event-card *ngFor="let event of events" [event]="event"></app-event-card>
  </div>

  <ng-template #loadingOrEmpty>
    <p class="center" *ngIf="events.length == 0; else loading">Aucun évènement !</p>
  </ng-template>
  <ng-template #loading>
    <p class="center">Chargement des évènements...</p>
  </ng-template>
</div>