<app-top-app-bar *ngIf="bMobile" [title]="'Tableau de bord'">
</app-top-app-bar>

<div id="dashboard-page">
  <ng-container *ngIf="events.length > 0; else loading">
    <cdk-virtual-scroll-viewport itemSize="300" id="scroll-container">
      <div *cdkVirtualFor="let event of events" class="event-container">
        <app-event-card [event]="event"></app-event-card>
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-container>

  <ng-template #loading>
    <p>Chargement des évènements...</p>
  </ng-template>
</div>