<app-top-app-bar *ngIf="bMobile" [title]="'Édition d\'évènement'" [bReturn]="true"
  (return)="goTo('/evenements/detail/' + eventId)">
</app-top-app-bar>

<div id="edit-event-page">
  <form [formGroup]="eventForm">
    <mat-vertical-stepper [linear]="false">
      <!-- Step 1 -->
      <mat-step label="Résumé">
        <mat-form-field appearance="fill">
          <mat-label>Nom de l'évènement</mat-label>
          <input matInput placeholder="Concert au Crous" formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Catégorie</mat-label>
          <mat-select placeholder="Type d'évènement" formControlName="photo_url">
            <mat-option
              value="https://images.unsplash.com/photo-1470753937643-efeb931202a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
              Soirée
            </mat-option>
            <mat-option
              value="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
              Révision
            </mat-option>
            <mat-option
              value="https://images.unsplash.com/photo-1485518994577-6cd6324ade8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=944&q=80">
              Sortie
            </mat-option>
            <mat-option
              value="https://images.unsplash.com/photo-1509994196812-897f5a6ab49c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80">
              Mystère
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Date de l'évènement</mat-label>
          <input matInput [matDatepicker]="datePicker" placeholder="17/05/2022" [min]="minDate"
            formControlName="date_start">
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker startView="month"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" formGroupName="place">
          <mat-label>Nom du point de rencontre</mat-label>
          <input matInput placeholder="Copernic" formControlName="name">
        </mat-form-field>
      </mat-step>

      <!-- Step 2 -->
      <mat-step label="Détails">
      </mat-step>
    </mat-vertical-stepper>
  </form>

  <button mat-raised-button color="accent" [disabled]="!eventForm.valid" (click)="submitForm()">Modifier</button>
</div>