
#banner {
    height: 250px;
    overflow: hidden;

    img {
        width: 100vw;
    }
}

#event-detail-page {
    padding: var(--padding-page);

    #bloc-accroche {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
        
        #bloc-createur {
            display: grid;
            grid-auto-flow: column;
            grid-gap: 15px;
        }
    }

    .detail-line {
        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        align-items: center;
        grid-gap: 10px;
    }

    #postForm {
        display: grid;
        grid-auto-flow: row;
    }
    
}
