<app-top-app-bar *ngIf="bMobile" [bReturn]="true" [title]="'Détail de l\'évènement'" (return)="goTo('tableau-de-bord')">
</app-top-app-bar>

<ng-container *ngIf="event$ | async as event; else loading">
  <div id="banner">
    <img alt="Photo d'illustration de l'évènement" src="{{ event.photo_url }}">
  </div>
  <div id="event-detail-page">
    <h2>{{ event.title }}</h2>
    <div id="bloc-accroche">
      <div id="bloc-createur">
        <div class="avatar">

        </div>
        <div>
          <p>Organisé par</p>
          <p></p>
        </div>
      </div>

      <ng-container [ngSwitch]="event.participation">
        <button *ngSwitchCase="0" mat-button (click)="joinEvent(event.id_event)">Participer</button>
        <button *ngSwitchCase="1" mat-button (click)="goTo('/evenements/edition/' + event.id_event)">Modifier</button>
        <button *ngSwitchCase="2" mat-button (click)="leaveEvent(event.id_event)">Ne plus participer</button>
      </ng-container>
    </div>

    <ng-container *ngIf="event.description">
      <h3>Description</h3>
      <p>{{ event.description }}</p>
    </ng-container>

    <h3>Posts</h3>
    <app-post-list [posts]="event.posts"></app-post-list>

    <a *ngIf="bForm == false" (click)="bForm = true">Ajouter un post</a>

    <form [formGroup]="postForm" id="postForm" *ngIf="bForm == true">
      <mat-form-field appearance="fill">
        <mat-label>Titre du post</mat-label>
        <input matInput placeholder="Concert au Crous" formControlName="title">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contenu du post</mat-label>
        <input matInput placeholder="Concert au Crous" formControlName="content">
      </mat-form-field>

      <button mat-raised-button color="accent" (click)="submitForm()"
        [disabled]="!postForm.valid">
        Poster
      </button>

      <button mat-button (click)="bForm = false">
        Annuler
      </button>
    </form>

  </div>
</ng-container>

<ng-template #loading>
  <p>Chargement de l'évènement...</p>
</ng-template>