<app-top-app-bar *ngIf="bMobile" [bReturn]="true" [title]="'Détail de l\'évènement'" (return)="goTo('tableau-de-bord')">
</app-top-app-bar>

<ng-container *ngIf="event; else loading">
  <div id="banner">
    <img alt="Photo d'illustration de l'évènement" src="{{ event.photo_url }}">
  </div>

  <div id="event-detail-page">
    <h2>{{ event.title }}</h2>
    <div id="bloc-accroche">
      <div id="bloc-createur" *ngIf="event.participation != 1">
        <ng-container *ngFor="let user of event.participants">
          <ng-container *ngIf="user.participation == 1">
            <div class="avatar">
              <img src="{{ user.photo_url }}" alt="avatar">
            </div>
            <div>
              <p>Organisé par</p>
              <p>{{ user.pseudo }}</p>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div *ngIf="event.participation == 1">
          <div>
            <p>Organisé par Moi</p>
          </div>
      </div>

      <ng-container [ngSwitch]="event.participation">
        <button *ngSwitchCase="0" mat-raised-button color="accent" (click)="joinEvent(); event.participation = 2">Participer</button>
        <button *ngSwitchCase="1" mat-raised-button (click)="goTo('/evenements/edition/' + event.id_event)">Modifier</button>
        <button *ngSwitchCase="2" mat-stroked-button (click)="leaveEvent(); event.participation = 0">Ne plus participer</button>
      </ng-container>
    </div>

    <div class="separator"></div>

    <div class="detail-line">
      <mat-icon>access_time</mat-icon>
      <div *ngIf="event.date_start; else noDate">
        <p>{{ event.date_start | date:'medium' }}</p>
        <a (click)="getIcsLink()">Exporter le calendrier ></a>
        <a *ngIf="ics != ''" href="{{ics}}">{{ics}}</a>
      </div>
      
      <ng-template #noDate><p>Jour à définir</p></ng-template>
    </div>
    <div class="detail-line">
      <mat-icon>location_on</mat-icon>
      <ng-container *ngIf="event.place; else noPlace">
          <p *ngIf="event.place.name">{{ event.place.name }}</p>
      </ng-container>
      <ng-template #noPlace><p>Lieu à définir</p></ng-template>
    </div>

    <h3>Description</h3>
    <ng-container *ngIf="event.description; else noDescription">
      <p>{{ event.description }}</p>
    </ng-container>
    <ng-template #noDescription>
      <p>Pas de description pour le moment !</p>
    </ng-template>

    <h3>Participants ({{ event.participants.length }})</h3>
    <div class="participants-container" *ngIf="event.participants.length != 0; else noParticipants">
      <div *ngFor="let user of event.participants">
        <p>{{ user.firstmane }} {{ user.lastname }}</p>
      </div>
    </div>
    <ng-template #noParticipants>
      <p>Pas de participants pour le moment !</p>
    </ng-template>

    <app-post-list [posts]="event.posts" [eventId]="eventId" (updated)="reloadPosts()"></app-post-list>

  </div>
</ng-container>

<ng-template #loading>
  <p>Chargement de l'évènement...</p>
</ng-template>