
#banner {
    height: 250px;
    overflow: hidden;

    img {
        width: 100vw;
    }
}

#event-detail-page {
    padding: var(--padding-page);
    min-height: 150vh;

    #bloc-accroche {
        display: grid;
        grid-auto-flow: column;
        
        #bloc-createur {
            display: grid;
            grid-auto-flow: column;
        }
    }

    #postForm {
        display: grid;
        grid-auto-flow: row;
    }
    
}