@import "themes.scss";

#bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 56px;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    background-color: var(--color-background);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);

    .nav-btn {
        display: inline-grid;
        width: 100%;
        height: 100%;
        align-content: center;
        justify-items: center;

        mat-icon {
            color: var(--color-on-background);
        }

        &.nav-active {
            mat-icon {
                // color: var(--color-secondary);
            }

            &::after {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 5px;
                background-color: var(--color-on-background);
            }
        }
    }
}
