<div id="form-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <input matInput placeholder="Pseudo" formControlName="username">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Mot de passe" type="password" formControlName="password"
        (keyup.enter)="login(loginForm.value.username, loginForm.value.password)">
        <mat-error>erreur</mat-error>
    </mat-form-field>
  </form>

  <button  mat-raised-button color="primary"
    aria-label="Se logger"
    (click)="login(loginForm.value.username, loginForm.value.password)"
    [disabled]="!loginForm.valid">
    Login
  </button>
</div>
