@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--color-background);
}

a {
    text-decoration: none;
    color: unset;

    &:hover {
        text-decoration: underline;
    }
}

/* Themes */
:root,
.default {
    --color-primary: red;
    --color-primary-variant: orange;
    --color-on-primary: white;

    --color-secondary: green;
    --color-secondary-variant: green;
    --color-on-secondary: white;

    --color-background: #F7F7F7;
    --color-on-background: #4F4F4F;

    --color-surface: white;
    --color-on-surface: black;

    --color-error: red;
    --color-on-error: white;
}
