<div id="inscription-page">
  <h2>Inscription sur Lolimac</h2>

  <mat-horizontal-stepper  [linear]="true" *ngIf="!bInscriptionDone; else success">
    <mat-step label="Identité" [stepControl]="inscriptionForm.get('identity')">
      <form [formGroup]="inscriptionForm.get('identity')">
        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="CrousMan89" formControlName="lastname" required>
          <mat-error>Veuillez indiquer votre prénom</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="CrousMan89" formControlName="firstname" required>
          <mat-error>Veuillez indiquer votre nom</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Promotion</mat-label>
          <mat-select placeholder="Promotion" formControlName="year_promotion" required>
            <mat-option value="2021">2021</mat-option>
            <mat-option value="2020">2020</mat-option>
            <mat-option value="2019">2019</mat-option>
            <mat-option value="2018">2018</mat-option>
            <mat-option value="2017">2017</mat-option>
            <mat-option value="2016">2016</mat-option>
            <mat-option value="autre">Autre</mat-option>
          </mat-select>
          <mat-error>Veuillez indiquer votre promotion</mat-error>
        </mat-form-field>

        <button mat-button matStepperNext [disabled]="!inscriptionForm.get('identity').valid">Suite</button>
      </form>
    </mat-step>

    <mat-step label="Contact">
      <form [formGroup]="inscriptionForm.get('contact')">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="CrousMan89" type="email" formControlName="mail" required>
          <mat-error>Email invalide !</mat-error>
        </mat-form-field>

        <button mat-button matStepperNext [disabled]="!inscriptionForm.get('contact').valid">Suite</button>
      </form>
    </mat-step>

    <mat-step label="Validation">
      <form [formGroup]="inscriptionForm.get('validation')">
        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="pwd">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirmation du mot de passe</mat-label>
          <input matInput type="password" formControlName="confirm_pwd">
          <mat-error>Les mots de passe ne sont pas équivalents</mat-error>  
        </mat-form-field>

        <button mat-raised-button color="accent"
          aria-label="S'inscrire sur lolimac"
          (click)="sendForm()"
          [disabled]="!inscriptionForm.valid">
          S'inscrire
        </button>
      </form>
    </mat-step>
  </mat-horizontal-stepper>

  <ng-template #success>
    <div class="success">
      <mat-icon class="success-icon">done</mat-icon>
      <h3>Inscription validée !</h3>
      <p>Vous allez être redirigé à la page de login pour vous authentifier</p>
    </div>
  </ng-template>

  <a id="subscribe" routerLink="/visiteur/login">Changement d'avis ? Retour à la page login</a>
</div>
