
#inscription-page {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-content: stretch;
    min-height: 100vh;
    grid-gap: 10px;

    mat-horizontal-stepper, .success {
        border-radius: var(--border-radius);
        align-self: center;
        overflow: hidden;
        background-color: unset;
    }

    .success {
        display: grid;
        padding: 24px;
        grid-auto-flow: row;
        justify-items: center;
        text-align: center;
        background-color: var(--color-primary-lighter);

        .success-icon {
            font-size: 55px;
            background-color: var(--color-accent);
            border-radius: 50px; 
            height: 70px;
            width: 70px;
            line-height: 70px;
            display: flex;
            justify-content: center;
        }
    }

    form {
        display: grid;
        grid-auto-flow: row;

        button {
            margin-top: 5px; 
        }

        .avatar {
            height: var(--size-avatar);
            width: var(--size-avatar);
            border-radius: var(--size-avatar);
            overflow: hidden;
            justify-self: center;
            margin: 0px 0px 15px 0px;
            background-color: var(--color-primary);

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    a {
        text-align: center;
    }
}