
#inscription-page {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-content: stretch;
    height: 100vh;

    form {
        display: grid;
        grid-auto-flow: row;

        mat-horizontal-stepper {
            border-radius: var(--border-radius);
        }
    }

    a {
        text-align: center;
    }
}