<div *ngFor="let post of posts">
    <div class="post" *ngIf="postIdToUpdate != post.id">
        <div class="top-bar">
            <h3>{{ post.title }}</h3>
            <button mat-raised-button *ngIf="post.id_user == userId" (click)="currentState = postState.Update; postIdToUpdate = post.id; patchForm(post)">
                Modifier
            </button>
        </div>

        <p>{{ post.content }}</p>
    </div>

    <div class="post" *ngIf="postIdToUpdate == post.id">
        <ng-container *ngTemplateOutlet="form"></ng-container>
    </div>

    <app-comment-list [comments]="post.comments" [eventId]="eventId" [postId]="post.id" (updated)="reloadComments()">
    </app-comment-list>
</div>

<button mat-raised-button *ngIf="currentState == postState.Read" (click)="currentState = postState.Create">Ajouter un post</button>

<ng-container *ngIf="currentState == postState.Create">
    <ng-container *ngTemplateOutlet="form"></ng-container>
</ng-container>

<ng-template #form>
    <form [formGroup]="postForm" id="postForm">
        <mat-form-field appearance="fill">
            <mat-label>Titre du post</mat-label>
            <input matInput placeholder="Concert au Crous" formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Contenu du post</mat-label>
            <input matInput placeholder="Concert au Crous" formControlName="content">
        </mat-form-field>

        <ng-container [ngSwitch]="currentState">
            <button *ngSwitchCase="postState.Create" mat-raised-button color="accent" (click)="submitCreateForm()"
                [disabled]="!postForm.valid">
                Créer
            </button>

            <ng-container *ngSwitchCase="postState.Update">
                <button mat-raised-button color="accent" (click)="submitEditForm()" [disabled]="!postForm.valid">
                    Modifier
                </button>
                <button mat-raised-button color="warn" (click)="deletePost()">
                    Supprimer
                </button>
            </ng-container>
        </ng-container>

        <button mat-button (click)="currentState = postState.Read; postIdToUpdate = undefined; patchForm(undefined)">
            Annuler
        </button>
    </form>
</ng-template>