<div *ngFor="let post of posts">
    <div class="post">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
    </div>
    
    <app-comment-list [comments]="post.comments" [eventId]="eventId" [postId]="post.id"></app-comment-list>
</div>

<a *ngIf="bCreate == false" (click)="bCreate = true">Ajouter un post</a>

<form [formGroup]="postForm" id="postForm" *ngIf="bCreate == true">
    <mat-form-field appearance="fill">
    <mat-label>Titre du post</mat-label>
    <input matInput placeholder="Concert au Crous" formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Contenu du post</mat-label>
    <input matInput placeholder="Concert au Crous" formControlName="content">
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="submitCreateForm()"
    [disabled]="!postForm.valid">
    Poster
    </button>

    <button mat-button (click)="bCreate = false">
    Annuler
    </button>
</form>