#change-password-page {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: calc(100vh - var(--height-topbar));

    form {
        display: grid;
        grid-auto-flow: row;
        align-content: center;
        justify-content: center;
        grid-gap: 20px;
    }
    
}